<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Manage your storage without headaches | Mansto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
              rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
              crossorigin="anonymous">
        <link rel="stylesheet" 
              href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">

        <!-- Libraries Cascade Stylesheet Files -->
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" 
              href="http://static.mansto.com/assets/vendors/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" 
              href="http://static.mansto.com/assets/vendors/bootstrap/css/bootstrap.min.css">

        <!-- FontAwesome -->
        <link rel="stylesheet" type="text/css" 
              href="http://static.mansto.com/assets/vendors/font-awesome/css/font-awesome.min.css">

        <!-- Ionicons -->
        <link rel="stylesheet" type="text/css" 
              href="http://static.mansto.com/assets/vendors/ionicons/css/ionicons.min.css">

        <!-- OwlCarousel -->
        <link rel="stylesheet" type="text/css" 
              href="http://static.mansto.com/assets/vendors/owlcarousel/assets/owl.carousel.min.css">
        <link rel="stylesheet" type="text/css" 
              href="http://static.mansto.com/assets/vendors/owlcarousel/assets/owl.theme.default.min.css">

        <!-- Mobile Nav -->
        <link rel="stylesheet" type="text/css" 
              href="http://static.mansto.com/assets/vendors/mobile-nav/assets/css/mobile.nav.css">

        <!-- Main Cascade Stylesheet Files -->
        <link rel="stylesheet" type="text/css" 
              href="http://static.mansto.com/assets/css/mansto.default.css?version=21.1.5">

        <!--Favicon-->
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" 
              href="http://static.mansto.com/assets/favicon/apple-touch-icon.png">

        <link rel="icon" type="image/png" sizes="32x32" 
              href="http://static.mansto.com/assets/favicon/favicon-32x32.png">

        <link rel="icon" type="image/png" sizes="16x16" 
              href="http://static.mansto.com/assets/favicon/favicon-16x16.png">

        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <script type="text/javascript" 
                src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
        </script>

        <script type="text/javascript" 
                src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js">
        </script>

    </head>
    <body>

        <!-- HEADER -->
        <header class="navbar navbar-top navbar-expand-lg sticky-top navbar-light bg-transparent p-0" id="header-main">
            <div class="container-fluid">
                <a class="col-5 navbar-brand mt-3" href="http://mansto.com">
                    <img class="img-fluid" 
                         src="http://static.mansto.com/assets/img/brand/mansto-log_text.png">
                </a>

                <button class="navbar-toggler mx-3" aria-expanded="false" 
                        aria-controls="header-collapsible" 
                        aria-label="Header Top Navigation Toggler" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#header-collapsible" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Main  Navigation -->
                <nav class="collapse navbar-collapse" id="header-collapsible">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Overview</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Why Mansto?</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Overview</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Pricing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Support</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>

                <!-- Social Media Navigation -->
                <nav class="collapse navbar-collapse" id="header-collapsible">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">fb</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">in</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">tw</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">ln</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>

                <!-- Messaging Button -->
                <nav class="collapse navbar-collapse" id="header-collapsible">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Lets discuss</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>

                <!-- Language Navigation -->
                <nav class="collapse navbar-collapse" id="header-collapsible">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">EN</a>
                                        <span class="navbar-text">&VerticalBar;</span>
                                        <a class="nav-link" href="#">PT</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <!-- MAIN CONTENT -->
        <main class="main-content">
            <!-- Introduction Section -->
            <section class="intro section-bg">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <img class="img-fluid" src="http://static.mansto.com/assets/img/illustration/intro-img.svg">
                            <h1>More Security<br>Less Complexity</h1>
                            <div class="col-8 container">
                                <a class="btn btn-lg btn-primary d-block" href="#">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- How it Looks Section -->
            <section class="how-it-looks">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col text-center py-5 border">
                            <h1 class="border">How it Looks</h1>
                            <p class="border">An application developed based on 
                                simplicity, comfortability and safety.</p>
                        </div>
                        <div class="border">...</div>
                    </div>
                </div>
            </section>

            <!-- Why Mansto Section -->
            <section class="why-us py-4">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <!-- <h2>Why choose us?</h2>
                             <p>Mansto is an application that helps you to 
                                 find more easy to manage your storage and not 
                                 only, comes with a bunch of tools in order to 
                                 provide more comfortability.</p> -->
                            <div class="why-us-content border">
                                <!-- Clean Design -->
                                <div class="features">
                                    <i><ion-icon name='pencil'></ion-icon></i>
                                    <h4>Clean Design</h4>
                                    <p>Everything placed where you can easily find.</p>
                                </div>

                                <!-- -->
                                <div class="features">
                                    <i><ion-icon name='person'></ion-icon></i>
                                    <h4>User-friendly</h4>
                                    <p>After reading one time the docs, you can go rock!</p>
                                </div>

                                <!-- High Security -->
                                <div class="features">
                                    <i><ion-icon name='lock-closed'></ion-icon></i>
                                    <h4>High Security</h4>
                                    <p>Top Level Authentication for your protection.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Pricing -->
            <section class="pricing border">
                <div class="container">
                    <div class="row">
                        <div class="col text-center border">
                            <h1>Plans &amp; Pricing</h1>
                            <p>The best tools always come with the best plans 
                                that fits everyone&apos;s pocket.</p>
                        </div>                       
                    </div>

                    <div class="row row-cols-1 text-center">
                        <div class="col border">
                            <div class="price-header">
                                <h1>Plan type</h1>
                                <h2><sub>&dollar;</sub> 99</h2>
                                <span>Per time</span>
                            </div>
                            
                            <div class="price-content">
                                <ul>
                                    <li>Benefit 1</li>
                                    <li>Benefit 2</li>
                                    <li>Benefit 3</li>
                                    <li>Benefit 4</li>
                                </ul>
                                
                                <hr>
                                
                                <div class="d-block">
                                    <a class="btn btn-primary">Buy now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Call to Action -->
            <section class="cta">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h2>Get Started with Mansto today!</h2>
                            <p>Build based on core concepts like simplicity, 
                                comfort and safety, aggregates value to your 
                                personal and professional life. 
                                <span>Need more help?</span>
                            </p>

                            <div class="col-8">
                                <a class="btn btn-primary">Talk to us!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!-- JavaScript Bundle with Popper -->
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" 
        crossorigin="anonymous"></script>

        <!-- Libraries Javascript Files -->
        <!-- JQuery -->
        <script type="text/javascript" src="http://static.mansto.com/assets/vendors/jquery/jquery-3.6.0.js"></script>
        <script type="text/javascript" src="http://static.mansto.com/assets/vendors/jquery/jquery-migrate-3.3.2.js"></script>


        <!-- IonIcons-->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

        <!-- Bootstrap -->
        <script type="text/javascript" src="http://static.mansto.com/assets/vendors/bootstrap/js/bootstrap.bundle.js"></script>
        <script type="text/javascript" src="http://static.mansto.com/assets/vendors/bootstrap/js/validate-forms.js"></script>

        <!-- OwlCarousel -->
        <script type="text/javascript" src="http://static.mansto.com/assets/vendors/owlcarousel/owl.carousel.min.js"></script>

        <!-- Typed -->
        <script type="text/javascript" src="http://static.mansto.com/assets/vendors/typed/typed.js"></script>

        <!-- Mobile Navbar -->
        <script type="text/javascript" src="http://static.mansto.com/assets/vendors/mobile-nav/assets/js/mobile-nav.js"></script>

        <!-- Main Javascript Files -->
        <script type="text/javascript" src="http://static.mansto.com/assets/js/initializer.js?version=1.0.5"></script>
    </body>
</html>
