<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en">

<head>
    <title>Manage your storage without headaches | Mansto</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">

    <!-- Libraries Cascade Stylesheet Files -->
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="http://static.mansto.com/assets/vendors/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="http://static.mansto.com/assets/vendors/bootstrap/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <link rel="stylesheet" type="text/css" href="http://static.mansto.com/assets/vendors/font-awesome/css/font-awesome.min.css">

    <!-- Ionicons -->
    <link rel="stylesheet" type="text/css" href="http://static.mansto.com/assets/vendors/ionicons/css/ionicons.min.css">

    <!-- OwlCarousel -->
    <link rel="stylesheet" type="text/css" href="http://static.mansto.com/assets/vendors/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="http://static.mansto.com/assets/vendors/owlcarousel/assets/owl.theme.default.min.css">

    <!-- Swiper -->
    <link rel="stylesheet" type="text/css" href="http://static.mansto.com/assets/vendors/swiper/css/swiper.min.css">

    <!-- Mobile Nav -->
    <link rel="stylesheet" type="text/css" href="http://static.mansto.com/assets/vendors/mobile-nav/assets/css/mobile.nav.css">

    <!-- Main Cascade Stylesheet Files -->
    <link rel="stylesheet" type="text/css" href="http://static.mansto.com/assets/css/mansto.default.css?version=21.1.54">
    <link rel="stylesheet" type="text/css" href="http://static.mansto.com/assets/css/purpose.css?version=0.0.5">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="http://static.mansto.com/assets/favicon/apple-touch-icon.png">

    <link rel="icon" type="image/png" sizes="32x32" href="http://static.mansto.com/assets/favicon/favicon-32x32.png">

    <link rel="icon" type="image/png" sizes="16x16" href="http://static.mansto.com/assets/favicon/favicon-16x16.png">

    <link rel="manifest" href="/site.webmanifest">


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
    </script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js">
    </script>

</head>

<body>

    <header class="header header-transparent" id="header-main">
        <!-- Top navbar-->
        <div id="navbar-top-main" class="navbar-top  navbar-dark bg-dark border-bottom">
            <div class="container px-0">
                <div class="navbar-nav align-items-center">
                    <div class="d-none d-lg-inline-block">
                        <span class="navbar-text mr-3">Mansto - Storage Management App</span>
                    </div>
                    <div>
                        <ul class="nav">
                            <li class="nav-item dropdown ml-lg-2">
                                <a class="nav-link px-0" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-offset="0,10">
                                    <img alt="Image placeholder" src="http://static.mansto.com/assets/img/icons/flags/usa_48px.png">
                                    <span class="d-none d-lg-inline-block">English</span>
                                    <span class="d-lg-none">EN</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-sm">
                                    <a href="#" class="dropdown-item">
                                        <img alt="Image placeholder" src="http://static.mansto.com/assets/img/icons/flags/china_48px.png">
                                        <span class="d-none d-lg-inline-block">Chinese</span>
                                        <span class="d-lg-none">CH</span>
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        <img alt="Image placeholder" src="http://static.mansto.com/assets/img/icons/flags/portugal_48px.png">
                                        <span class="d-none d-lg-inline-block">Portuguese</span>
                                        <span class="d-lg-none">PT</span>
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        <img alt="Image placeholder" src="http://static.mansto.com/assets/img/icons/flags/spain_48px.png">
                                        <span class="d-none d-lg-inline-block">Spanish</span>
                                        <span class="d-lg-none">ES</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="ml-auto">
                        <ul class="nav">
                            <li class="nav-item d-lg-none">
                                <a href="#" class="nav-link" data-action="omnisearch-open" data-target="#omnisearch"><i class="fa fa-search"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pages/shop/checkout-cart.html"><i class="fa fa-shopping-cart"></i></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link pr-0" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-user-circle"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                    <h6 class="dropdown-header">User menu</h6>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa fa-user"></i>Account
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <span class="float-right badge badge-primary">4</span>
                                        <i class="fa fa-envelope"></i>Messages
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa fa-cog"></i>Settings
                                    </a>
                                    <div class="dropdown-divider" role="presentation"></div>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa fa-sign-out-alt"></i>Sign out
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main navbar -->
        <nav class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-dark bg-dark" id="navbar-main">
            <div class="container px-lg-0">
                <!-- Logo -->
                <a class="navbar-brand mr-lg-5" href="http://mansto.com">
                    <img alt="Image placeholder" src="http://static.mansto.com/assets/img/brand/mansto_complete_final.png" id="navbar-logo" style="height: 50px;">
                </a>
                <!-- Navbar collapse trigger -->
                <button class="navbar-toggler pr-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <!-- Navbar nav -->
                <div class="collapse navbar-collapse" id="navbar-main-collapse">
                    <ul class="navbar-nav align-items-lg-center">
                        <!-- Home - Overview  -->
                        <li class="nav-item active">
                            <a class="nav-link" href="http://mansto.com">Overview</a>
                        </li>
                        <!-- Why Mansto -->
                        <li class="nav-item dropdown ml-lg-2">
                            <a class="nav-link px-0" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-offset="0,10">
                                    Why Mansto?
                                </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-arrow p-0">
                                <ul class="list-group list-group-flush">
                                    <!-- Clean Design -->
                                    <li>
                                        <div class="list-group-item list-group-item-action">
                                            <div class="media d-flex align-items-center">
                                                <figure style="width: 50px;">
                                                    <img class="img-fluid" alt="Image Placeholder" src="http://static.mansto.com/assets/img/icons/002-curve.png">
                                                </figure>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-1">Clean Design</h6>
                                                    <p class="mb-0">Everything placed where you can easily find.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <!-- User Friendly-->
                                    <li>
                                        <div class="list-group-item list-group-item-action">
                                            <div class="media d-flex align-items-center">
                                                <figure style="width: 50px;">
                                                    <img class="img-fluid" alt="Image Placeholder" src="http://static.mansto.com/assets/img/icons/003-friends.png">
                                                </figure>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-1">User Friendly</h6>
                                                    <p class="mb-0">After reading one time the docs, you can go rock!</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- High Security -->
                                    <li>
                                        <div class="list-group-item list-group-item-action">
                                            <div class="media d-flex align-items-center">
                                                <figure style="width: 50px;">
                                                    <img class="img-fluid" alt="Image Placeholder" src="http://static.mansto.com/assets/img/icons/004-security.png">
                                                </figure>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-1">High Security</h6>
                                                    <p class="mb-0">Top Level Authentication for your protection.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- Support menu -->
                        <li class="nav-item dropdown ml-lg-2">
                            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-offset="0,10">
                                    Support
                                </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-arrow p-0">
                                <ul class="list-group list-group-flush">
                                    <li>
                                        <a href="#" class="list-group-item list-group-item-action" role="button">
                                            <div class="media d-flex align-items-center">
                                                <figure style="width: 50px;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="145px" height="113px" viewBox="0 0 145 113" version="1.1" class="injected-svg svg-inject img-fluid" style="height: 50px;">
                                                        <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
                                                        <title>Apps</title>
                                                        <desc>Created with Sketch.</desc>
                                                        <defs></defs>
                                                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <g id="Apps" transform="translate(2.000000, 1.000000)">
                                                        <path d="M31,0.5 L13,0.5 C6,0.5 0.4,6.2 0.4,13.1 L0.4,31.1 C0.4,38.1 6.1,43.7 13,43.7 L31,43.7 C38,43.7 43.6,38 43.6,31.1 L43.6,13.1 C43.6,6.1 37.9,0.5 31,0.5 Z" id="Shape" class="fill-neutral" fill-rule="nonzero"></path>
                                                        <path d="M31,5.1 L17.6,5.1 C10.6,5.1 5,10.8 5,17.7 L5,31.1 C5,38.1 10.7,43.7 17.6,43.7 L31,43.7 C38,43.7 43.6,38 43.6,31.1 L43.6,17.7 C43.6,10.8 37.9,5.1 31,5.1 Z" id="Shape" class="fill-primary-300" fill-rule="nonzero"></path>
                                                        <path d="M31,0.5 L13,0.5 C6,0.5 0.4,6.2 0.4,13.1 L0.4,31.1 C0.4,38.1 6.1,43.7 13,43.7 L31,43.7 C38,43.7 43.6,38 43.6,31.1 L43.6,13.1 C43.6,6.1 37.9,0.5 31,0.5 Z" id="Shape" class="stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                                        <path d="M31,56.2 L13,56.2 C6,56.2 0.4,61.9 0.4,68.8 L0.4,86.8 C0.4,93.8 6.1,99.4 13,99.4 L31,99.4 C38,99.4 43.6,93.7 43.6,86.8 L43.6,68.8 C43.6,61.8 37.9,56.2 31,56.2 Z" id="Shape" class="fill-neutral" fill-rule="nonzero"></path>
                                                        <path d="M31,60.8 L17.6,60.8 C10.6,60.8 5,66.5 5,73.4 L5,86.8 C5,93.8 10.7,99.4 17.6,99.4 L31,99.4 C38,99.4 43.6,93.7 43.6,86.8 L43.6,73.4 C43.6,66.5 37.9,60.8 31,60.8 Z" id="Shape" class="fill-primary-300" fill-rule="nonzero"></path>
                                                        <path d="M31,56.2 L13,56.2 C6,56.2 0.4,61.9 0.4,68.8 L0.4,86.8 C0.4,93.8 6.1,99.4 13,99.4 L31,99.4 C38,99.4 43.6,93.7 43.6,86.8 L43.6,68.8 C43.6,61.8 37.9,56.2 31,56.2 Z" id="Shape" class="stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                                        <path d="M86.7,0.5 L68.7,0.5 C61.7,0.5 56.1,6.2 56.1,13.1 L56.1,31.1 C56.1,38.1 61.8,43.7 68.7,43.7 L86.7,43.7 C93.7,43.7 99.3,38 99.3,31.1 L99.3,13.1 C99.3,6.1 93.6,0.5 86.7,0.5 Z" id="Shape" class="fill-neutral" fill-rule="nonzero"></path>
                                                        <path d="M86.7,0.5 L68.7,0.5 C61.7,0.5 56.1,6.2 56.1,13.1 L56.1,31.1 C56.1,38.1 61.8,43.7 68.7,43.7 L86.7,43.7 C93.7,43.7 99.3,38 99.3,31.1 L99.3,13.1 C99.3,6.1 93.6,0.5 86.7,0.5 Z" id="Shape" class="stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                                        <path d="M86.7,56.2 L68.7,56.2 C61.7,56.2 56.1,61.9 56.1,68.8 L56.1,86.8 C56.1,93.8 61.8,99.4 68.7,99.4 L86.7,99.4 C93.7,99.4 99.3,93.7 99.3,86.8 L99.3,68.8 C99.3,61.8 93.6,56.2 86.7,56.2 Z" id="Shape" class="fill-neutral" fill-rule="nonzero"></path>
                                                        <path d="M86.7,60.8 L73.3,60.8 C66.3,60.8 60.7,66.5 60.7,73.4 L60.7,86.8 C60.7,93.8 66.4,99.4 73.3,99.4 L86.7,99.4 C93.7,99.4 99.3,93.7 99.3,86.8 L99.3,73.4 C99.3,66.5 93.6,60.8 86.7,60.8 Z" id="Shape" class="fill-primary-300" fill-rule="nonzero"></path>
                                                        <path d="M86.7,56.2 L68.7,56.2 C61.7,56.2 56.1,61.9 56.1,68.8 L56.1,86.8 C56.1,93.8 61.8,99.4 68.7,99.4 L86.7,99.4 C93.7,99.4 99.3,93.7 99.3,86.8 L99.3,68.8 C99.3,61.8 93.6,56.2 86.7,56.2 Z" id="Shape" class="stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                                        <g id="Group" transform="translate(68.000000, 18.000000)">
                                                        <path d="M73,36.8 C73,33.5 70.3,30.8 67,30.8 C64,30.8 61.6,33 61.1,35.8 L58.4,35.8 L58.4,31.2 C58.4,27.9 55.7,25.2 52.4,25.2 C49.1,25.2 46.4,27.9 46.4,31.2 L46.4,35.7 L43.9,35.7 L43.9,26.4 C43.9,22.8 41,19.9 37.4,19.9 C33.8,19.9 30.9,22.8 30.9,26.4 L30.9,35.6 L28.7,35.6 L28.7,8.2 C28.7,4.6 25.8,1.7 22.2,1.7 C18.6,1.7 15.7,4.6 15.7,8.2 L15.7,47.7 L15.7,50.9 L15.7,64.5 L13.4,64.5 L13.4,54.9 C13.4,47.8 7.6,42 0.5,42 L0.5,65.7 C0.5,67.1 0.9,68.3 1.7,69.4 C1.7,69.4 1.7,69.5 1.7,69.5 C4.1,73.3 17.5,84.7 23.6,89.9 C25.6,91.6 28.2,92.5 30.8,92.5 L57.1,92.5 C65.8,92.5 72.9,85.4 72.9,76.7 L72.9,36.8 L73,36.8 Z" id="Shape" class="fill-neutral" fill-rule="nonzero"></path>
                                                        <path d="M73,36 L73,75.8 C73,84.5 65.9,91.6 57.2,91.6 L31,91.6 C28.4,91.6 25.8,90.7 23.8,89 C17.6,83.8 4.3,72.3 1.9,68.6 C1.9,68.6 1.9,68.5 1.9,68.5 C1.2,67.4 0.7,66.2 0.7,64.8 L0.7,41 C7.8,41 13.6,46.8 13.6,53.9 L13.6,63.5 L15.9,63.5 L15.9,7.2 C15.9,3.6 18.8,0.7 22.4,0.7 C26,0.7 28.9,3.6 28.9,7.2 L28.9,34.6 L31.1,34.6 L31.1,25.4 C31.1,21.8 34,18.9 37.6,18.9 C41.2,18.9 44.1,21.8 44.1,25.4 L44.1,34.7 L46.6,34.7 L46.6,30.2 C46.6,26.9 49.3,24.2 52.6,24.2 C55.9,24.2 58.6,26.9 58.6,30.2 L58.6,34.8 L61.3,34.8 C61.8,32 64.2,29.8 67.2,29.8 C70.3,30 73,32.7 73,36 Z" id="Shape" class="fill-neutral" fill-rule="nonzero"></path>
                                                        <path d="M73,40.6 L73,75.7 C73,84.4 65.9,91.5 57.2,91.5 L31,91.5 C28.4,91.5 25.8,90.6 23.8,88.9 C17.6,83.7 4.3,72.2 1.9,68.5 C1.9,68.5 1.9,68.4 1.9,68.4 C1.2,67.3 0.7,66.1 0.7,64.7 L0.7,45.6 C7.8,45.6 13.6,51.4 13.6,58.5 L13.6,68.1 L15.9,68.1 L15.9,11.8 C15.9,8.2 18.8,5.3 22.4,5.3 C26,5.3 28.9,8.2 28.9,11.8 L28.9,39.2 L31.1,39.2 L31.1,30 C31.1,26.4 34,23.5 37.6,23.5 C41.2,23.5 44.1,26.4 44.1,30 L44.1,39.3 L46.6,39.3 L46.6,34.7 C46.7,31.4 49.3,28.8 52.6,28.8 C55.9,28.8 58.6,31.5 58.6,34.8 C58.6,34.8 58.6,34.8 58.6,34.8 L58.6,39.4 L61.3,39.4 C61.8,36.6 64.2,34.4 67.2,34.4 C70.3,34.6 73,37.3 73,40.6 Z" id="Shape" class="fill-primary-100" fill-rule="nonzero"></path>
                                                        <path d="M73,36.8 C73,33.5 70.3,30.8 67,30.8 C64,30.8 61.6,33 61.1,35.8 L58.4,35.8 L58.4,31.2 C58.4,27.9 55.7,25.2 52.4,25.2 C49.1,25.2 46.4,27.9 46.4,31.2 L46.4,35.7 L43.9,35.7 L43.9,26.4 C43.9,22.8 41,19.9 37.4,19.9 C33.8,19.9 30.9,22.8 30.9,26.4 L30.9,35.6 L28.7,35.6 L28.7,8.2 C28.7,4.6 25.8,1.7 22.2,1.7 C18.6,1.7 15.7,4.6 15.7,8.2 L15.7,47.7 L15.7,50.9 L15.7,64.5 L13.4,64.5 L13.4,54.9 C13.4,47.8 7.6,42 0.5,42 L0.5,65.7 C0.5,67.1 0.9,68.3 1.7,69.4 C1.7,69.4 1.7,69.5 1.7,69.5 C4.1,73.3 17.5,84.7 23.6,89.9 C25.6,91.6 28.2,92.5 30.8,92.5 L57.1,92.5 C65.8,92.5 72.9,85.4 72.9,76.7 L72.9,36.8 L73,36.8 Z" id="Shape" class="stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                                        </g>
                                                        </g>
                                                        </g>
                                                        </svg>
                                                </figure>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-1">Get Started</h6>
                                                    <p class="mb-0">What are you waiting for? Started riding today on the road of success.</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <div class="dropdown-menu-links rounded-bottom delimiter-top p-4">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="sections.html#headers" class="dropdown-item">Documentation</a>
                                            <a href="sections.html#footers" class="dropdown-item">Talk to us!</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="sections.html#covers" class="dropdown-item">Guides</a>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="sections.html#swiper" class="dropdown-item">Tutorials</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                        <li class="nav-item d-none d-lg-block">
                            <a href="#" class="nav-link active" data-action="omnisearch-open" data-target="#omnisearch">
                                <i class="fa fa-search"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://accounts.mansto.com/signin">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://accounts.mansto.com/register">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Omnisearch -->
    <div id="omnisearch" class="omnisearch">
        <div class="container">
            <!-- Search form -->
            <form class="omnisearch-form">
                <div class="form-group">
                    <div class="input-group input-group-merge input-group-flush">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Type and hit enter ...">
                    </div>
                </div>
            </form>
            <div class="omnisearch-suggestions">
                <h6 class="heading">Search Suggestions</h6>
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a class="list-link" href="#">
                                    <i class="fa fa-search"></i>
                                    <span>macbook pro</span> in Laptops
                                </a>
                            </li>
                            <li>
                                <a class="list-link" href="#">
                                    <i class="fa fa-search"></i>
                                    <span>iphone 8</span> in Smartphones
                                </a>
                            </li>
                            <li>
                                <a class="list-link" href="#">
                                    <i class="fa fa-search"></i>
                                    <span>macbook pro</span> in Laptops
                                </a>
                            </li>
                            <li>
                                <a class="list-link" href="#">
                                    <i class="fa fa-search"></i>
                                    <span>beats pro solo 3</span> in Headphones
                                </a>
                            </li>
                            <li>
                                <a class="list-link" href="#">
                                    <i class="fa fa-search"></i>
                                    <span>smasung galaxy 10</span> in Phones
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MAIN CONTENT -->
    <main class="main-content">
        <!-- Introduction Section -->
        <section class="intro section-rotate bg-section-secondary border-0">
            <div class="section-inner bg-gradient-primary border-0"></div>

            <!-- SVG illustration -->
            <div class="pt-10 pr-lg-5 position-absolute middle right-0 col-lg-7 col-xl-6 d-none d-lg-block">
                <figure class="w-100" style="max-width: 1000px;">
                    <img alt="Image placeholder" src="http://static.mansto.com/assets/img/illustration/intro-img.svg" class="svg-inject img-fluid" style="height: 1000px;">
                </figure>
            </div>
            <!-- SVG background -->
            <div class="bg-absolute-cover bg-size--contain d-flex align-items-center">
                <figure class="w-100 d-none d-lg-block">
                    <!-- SVG Code -->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1500 820" class="injected-svg svg-inject" style="height: 1000px;">
                        <path class="fill-cyan" d="M 153.37 455.293 L 143.264 444.989 C 142.269 443.976 142.269 442.371 143.264 441.358 L 153.37 431.055 C 154.364 430.042 155.938 430.042 156.932 431.055 L 167.038 441.358 C 168.032 442.371 168.032 443.976 167.038 444.989 L 156.932 455.293 C 156.02 456.306 154.364 456.306 153.37 455.293 Z" style=""></path>
                        <circle class="fill-pink" cx="1184.025" cy="85.335" r="9.723" style=""></circle>
                        <circle class="fill-yellow" stroke-width="3" stroke-miterlimit="10" cx="320.504" cy="209.51" r="12.587" style=""></circle>
                        <path class="fill-blue" d="M 42.564 -16.417 C 43.206 -18.074 44.682 -19.262 46.438 -19.535 L 62.879 -22.089 C 64.634 -22.362 66.401 -21.677 67.515 -20.294 L 77.948 -7.333 C 79.062 -5.949 79.353 -4.076 78.712 -2.419 L 72.703 13.096 C 72.061 14.753 70.585 15.941 68.829 16.215 L 52.388 18.769 C 50.633 19.042 48.865 18.358 47.752 16.973 L 37.319 4.012 C 36.205 2.628 35.914 0.755 36.555 -0.902 L 42.564 -16.417 Z" style=""></path>
                        <path class="fill-pink" d="M 1128.161 586.512 C 1128.462 585.735 1129.154 585.178 1129.977 585.05 L 1137.684 583.853 C 1138.506 583.725 1139.335 584.046 1139.857 584.695 L 1144.747 590.77 C 1145.269 591.419 1145.406 592.297 1145.105 593.073 L 1142.289 600.346 C 1141.988 601.123 1141.296 601.68 1140.473 601.808 L 1132.767 603.005 C 1131.944 603.133 1131.115 602.812 1130.593 602.163 L 1125.703 596.088 C 1125.181 595.439 1125.044 594.561 1125.345 593.785 L 1128.161 586.512 Z" style=""></path>
                        <path class="fill-purple" d="M 109.272 171.631 C 109.643 170.672 110.497 169.986 111.512 169.828 L 121.017 168.352 C 122.032 168.193 123.054 168.59 123.698 169.389 L 129.729 176.883 C 130.373 177.683 130.542 178.766 130.171 179.723 L 126.697 188.693 C 126.326 189.651 125.473 190.339 124.458 190.497 L 114.952 191.973 C 113.937 192.131 112.916 191.736 112.272 190.935 L 106.24 183.442 C 105.596 182.641 105.428 181.559 105.798 180.601 L 109.272 171.631 Z" style=""></path>
                        <path class="fill-purple" d="M 258.215 770.571 C 258.563 769.674 259.363 769.03 260.314 768.882 L 269.221 767.499 C 270.171 767.351 271.129 767.722 271.732 768.471 L 277.384 775.492 C 277.988 776.243 278.146 777.257 277.798 778.155 L 274.543 786.559 C 274.195 787.457 273.395 788.101 272.444 788.249 L 263.538 789.633 C 262.587 789.781 261.629 789.41 261.026 788.66 L 255.374 781.639 C 254.771 780.889 254.613 779.874 254.96 778.976 L 258.215 770.571 Z" style=""></path>
                        <circle class="fill-cyan" stroke-width="3" stroke-miterlimit="10" cx="730.584" cy="767.881" r="9.997" style=""></circle>
                        <path class="fill-purple" d="M 1390.234 263.204 C 1390.491 262.543 1391.08 262.067 1391.782 261.958 L 1398.352 260.938 C 1399.053 260.829 1399.759 261.103 1400.204 261.655 L 1404.373 266.834 C 1404.818 267.387 1404.934 268.136 1404.678 268.798 L 1402.277 274.997 C 1402.021 275.659 1401.43 276.134 1400.729 276.244 L 1394.16 277.265 C 1393.459 277.373 1392.752 277.1 1392.307 276.547 L 1388.138 271.368 C 1387.693 270.815 1387.577 270.066 1387.833 269.404 L 1390.234 263.204 Z" style=""></path>
                        </svg>
                </figure>
            </div>

            <!-- Hero Container -->
            <div class="container py-5 pt-lg-6 d-flex align-items-center position-relative zindex-100 my-10 my-lg-6">
                <div class="col">
                    <div class="row">
                        <div class="col-lg-5 col-xl-6 text-center text-lg-left">
                            <div>
                                <h2 class="text-white mb-4 mb-md-5 d-lg-none d-xl-block">
                                    <span class="display-4 font-weight-light">More Security</span>
                                    <span class="d-block display-4">Less 
                                            <strong class="font-weight-light">Complexity</strong>
                                        </span>
                                </h2>
                                <h2 class="text-white mb-4 mb-md-5 d-none d-lg-block d-xl-none">
                                    <span class="display-5 font-weight-light">More Security</span>
                                    <span class="d-block display-5">Less 
                                            <strong class="font-weight-light">Complexity</strong>
                                        </span>
                                </h2>
                                <p class="lead text-white">
                                    No need to change your way of thinking, just change the way you see things and achieve more success!</p>
                                <div class="mt-1">
                                    <a href="#" class="btn btn-white rounded-pill hover-translate-y-n3 btn-icon mr-sm-4 scroll-me">
                                        <span class="btn-inner--text">Get Started</span>
                                        <span class="btn-inner--icon"><i class="fa fa-angle-right"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Why Mansto Section -->
        <section class="why-us slice bg-section-secondary">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-sm-6">
                        <div class="card text-center hover-shadow-lg hover-translate-y-n10">
                            <div class="px-4 py-5">
                                <img alt="Image placeholder" src="http://static.mansto.com/assets/img/icons/002-curve.png" class="svg-inject" style="height: 70px;">
                            </div>
                            <div class="px-4 pb-5">
                                <h5>Clean Design</h5>
                                <p class="text-muted">Everything placed where you can easily find.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="card text-center hover-shadow-lg hover-translate-y-n10">
                            <div class="px-4 py-5">
                                <img alt="Image placeholder" src="http://static.mansto.com/assets/img/icons/003-friends.png" class="svg-inject" style="height: 70px;">
                            </div>
                            <div class="px-4 pb-5">
                                <h5>User Friendly</h5>
                                <p class="text-muted">After reading one time the docs, you can go rock!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="card text-center hover-shadow-lg hover-translate-y-n10">
                            <div class="px-4 py-5">
                                <img alt="Image placeholder" src="http://static.mansto.com/assets/img/icons/004-security.png" class="svg-inject" style="height: 70px;">
                            </div>
                            <div class="px-4 pb-5">
                                <h5>High Security</h5>
                                <p class="text-muted">Top Level Authentication for your protection.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- How it Looks Section -->
        <section class="how-it-looks">
            <div class="container-fluid">
                <div class="row">
                    <div class="col text-center py-5">
                        <h2>How it Looks</h2>
                        <p>An application developed based on simplicity, comfortability and safety.</p>
                    </div>
                    <div class="py-5">...</div>
                </div>
            </div>
        </section>

        <!-- Pricing Section -->
        <section class="pricing py-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2>Plans &amp; Pricing</h2>
                        <p>The best tools always come with the best plans that fits everyone&apos;s pocket.</p>
                    </div>
                </div>

                <div class="row row-cols-1 row-cols-lg-2 justify-content-center text-center">
                    <div class="col-12 col-md-8 col-lg-6">
                        <div class="price-item">
                            <div class="price-header">
                                <h1>Advanced</h1>
                                <h2>7<sub>08&dollar;</sub></h2>
                                <span>Per Month</span>
                            </div>

                            <div class="price-content">
                                <ul>
                                    <li>Internal &amp; external requests</li>
                                    <li>ABC Classification</li>
                                    <li>Work in team</li>
                                    <li>Messenger Plugin</li>
                                </ul>

                                <hr>

                                <div class="d-block">
                                    <a class="btn btn-outline-primary">Buy now</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-8 col-lg-6">
                        <div class="price-item">
                            <div class="price-header">
                                <h1>Premiun</h1>
                                <h2>16<sub>45&dollar;</sub></h2>
                                <span>Per Month</span>
                            </div>

                            <div class="price-content">
                                <ul>
                                    <li>Internal &amp; external requests</li>
                                    <li>ABC Classification</li>
                                    <li>Work in team</li>
                                    <li>Messenger Plugin</li>
                                </ul>

                                <hr>

                                <div class="d-block">
                                    <a class="btn btn-outline-primary">Buy now</a>
                                </div>
                            </div>

                            <span class="best-choice">Recommended</span>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Call to Action Section -->
        <section class="cta py-3 pb-5">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-md-10">
                        <div class="card bg-primary shadow hover-shadow-lg border-0 position-relative zindex-100">
                            <div class="card-body py-5">
                                <div class="d-flex align-items-start">
                                    <div class="icon text-white">
                                        <i class="fa fa-question-circle"></i>
                                    </div>
                                    <div class="icon-text">
                                        <h5 class="h4 text-white">Get Started with Mansto today!</h5>
                                        <p class="mb-0 text-white">Build based on core concepts like simplicity, comfort and safety, mansto aggregates value to your personal and professional life.
                                            <span><strong>Need more help?</strong></span></p>

                                        <div class="col-12 d-flex justify-content-end">
                                            <a href="#">
                                                <i class="fa fa-phone"></i>
                                                <span>Talk to us!</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <!-- Testimonials Section -->
        <section class="testimonials footer-dark">
            <div class="content-rotate"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10 text-center container">
                        <p id="testimonial__comment"></p>
                    </div>
                    <div class="col-12 col-md-10">
                        <div class="owl-carousel testimonials-carousel">
                            <div class="testimonial-item" data-strln-testimonial="Joseph Gonzalez">
                                <img src="http://static.mansto.com/assets/img/testimonials/testimonial-1.jpg" alt="Joseph Gonzalez">
                            </div>
                            <div class="testimonial-item" data-strln-testimonial="Nora Hulton">
                                <img src="http://static.mansto.com/assets/img/testimonials/testimonial-2.jpg" alt="Nora Hulton">
                            </div>
                            <div class="testimonial-item" data-strln-testimonial="Anastasia Vityukova">
                                <img src="http://static.mansto.com/assets/img/testimonials/testimonial-3.jpg" alt="Anastasia Vityukova">
                            </div>
                            <div class="testimonial-item" data-strln-testimonial="Art Hauntington">
                                <img src="http://static.mansto.com/assets/img/testimonials/testimonial-4.jpg" alt="Art Hauntington">
                            </div>
                            <div class="testimonial-item" data-strln-testimonial="Austin Wade">
                                <img src="http://static.mansto.com/assets/img/testimonials/testimonial-5.jpg" alt="Austin Wade">
                            </div>
                        </div>
                    </div>
                    <div class="col-8 text-center container">
                        <p id="testimonial__description">
                            <span id="testimonial__description--name"></span>,
                            <span id="testimonial__description--position"></span></p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer class="footer footer-dark" id="footer-main">
        <div class="container">
            <div class="row row-cols-2 px-2 mb-5">
                <div class="col-12 col-lg-6 pt-3 mb-5">
                    <a href="http://mansto.com">
                        <!--<h1>mansto</h1>-->
                        <img class="footer-logo" src="http://static.mansto.com/assets/img/brand/mansto_complete_final.png">
                    </a>
                    <p>Mansto is an application that helps you to find more easy to manage your storage and not only, comes with a bunch of tools in order to provide more comfortability.</p>
                </div>
                <div class="col-6 col-md-4 col-lg-2 pt-2 pb-1">
                    <h6 class="heading mb-3">Account</h6>
                    <nav>
                        <ul class="list-unstyled">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Billing</a></li>
                            <li><a href="#">Notifications</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-6 col-md-4 col-lg-2 pt-2 pb-1">
                    <h6 class="heading mb-3">Support</h6>
                    <nav>
                        <ul class="list-unstyled">
                            <li><a href="#">Guides</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-6 col-md-4 col-lg-2 pt-2 pb-1">
                    <h6 class="heading mb-3">Community</h6>
                    <nav>
                        <ul class="list-unstyled">
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">Developers</a></li>
                            <li><a href="#">News</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="row align-items-center justify-content-end delimiter-top py-4">
                <div class="col-12 col-md-6 text-center text-md-start pt-md-3">
                    <p class="copyright text-sm">&COPY;2018-2021 <a href="#">Streamline</a>. All rights reserved.</p>
                </div>
                <div class="col-12 col-md-6 text-center">
                    <nav>
                        <ul class="nav justify-content-center justify-content-md-end">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Libraries Javascript Files -->
    <!-- JQuery -->
    <script type="text/javascript" src="http://static.mansto.com/assets/vendors/jquery/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="http://static.mansto.com/assets/vendors/jquery/jquery-migrate-3.3.2.js"></script>


    <!-- Bootstrap -->
    <!--<script type="text/javascript" src="http://static.mansto.com/assets/vendors/bootstrap/js/bootstrap.bundle.js"></script>-->
    <script type="text/javascript" src="http://static.mansto.com/assets/vendors/bootstrap/js/validate-forms.js"></script>

    <!-- OwlCarousel -->
    <script type="text/javascript" src="http://static.mansto.com/assets/vendors/owlcarousel/owl.carousel.min.js?version=0.0.2"></script>

    <!-- Swiper -->
    <link rel="stylesheet" type="text/css" href="http://static.mansto.com/assets/vendors/swiper/js/swiper.min.js">

    <!-- Typed -->
    <script type="text/javascript" src="http://static.mansto.com/assets/vendors/typed/typed.js"></script>

    <!-- Mobile Navbar -->
    <script type="text/javascript" src="http://static.mansto.com/assets/vendors/mobile-nav/assets/js/mobile-nav.js"></script>

    <!-- Main Javascript Files -->
    <script type="text/javascript" src="http://static.mansto.com/assets/js/initializer.js?version=1.0.25"></script>
    <script type="text/javascript" src="http://static.mansto.com/assets/js/purpose.js?version=0.0.3"></script>
</body>

</html>