<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Manage your storage without headaches | Mansto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
              rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
              crossorigin="anonymous">
        <link rel="stylesheet" 
              href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">

        <!-- Libraries Cascade Stylesheet Files -->
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" 
              href="http://static.mansto.com/lib/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" 
              href="http://static.mansto.com/lib/bootstrap/css/bootstrap.min.css">

        <!-- FontAwesome -->
        <link rel="stylesheet" type="text/css" 
              href="http://static.mansto.com/lib/font-awesome/css/font-awesome.min.css">

        <!-- Ionicons -->
        <link rel="stylesheet" type="text/css" 
              href="http://static.mansto.com/lib/ionicons/css/ionicons.min.css">

        <!-- OwlCarousel -->
        <link rel="stylesheet" type="text/css" 
              href="http://static.mansto.com/lib/owlcarousel/assets/owl.carousel.min.css">

        <!-- Main Cascade Stylesheet Files -->
        <link rel="stylesheet" type="text/css" 
              href="http://static.mansto.com/assets/css/reset.css">

        <!--Favicon-->
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" 
              href="http://static.mansto.com/assets/favicon/apple-touch-icon.png">

        <link rel="icon" type="image/png" sizes="32x32" 
              href="http://static.mansto.com/static/assets/favicon/favicon-32x32.png">

        <link rel="icon" type="image/png" sizes="16x16" 
              href="http://static.mansto.com/static/assets/favicon/favicon-16x16.png">

        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <script type="text/javascript" 
                src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
        </script>

        <script type="text/javascript" 
                src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js">

        </script>

    </head>
    <body>
        
        <div class="container">
            <div class="row">
                <div class="col border">.col</div>
            </div>
        </div>

        <!-- JavaScript Bundle with Popper -->
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" 
        crossorigin="anonymous"></script>

        <!-- Libraries Javascript Files -->
        <!-- JQuery -->
        <script type="text/javascript" src="http://static.mansto.com/lib/jquery/jquery-3.6.0.js"></script>
        <script type="text/javascript" src="http://static.mansto.com/lib/jquery/jquery-migrate-3.3.2.js"></script>
        
        <!-- Bootstrap -->
        <script type="text/javascript" src="http://static.mansto.com/lib/bootstrap/js/bootstrap.bundle.js"></script>
        <script type="text/javascript" src="http://static.mansto.com/lib/bootstrap/js/validate-forms.js"></script>
        
        <!-- OwlCarousel -->
        <script type="text/javascript" src="http://static.mansto.com/lib/owlcarousel/owl.carousel.min.js"></script>

        <!-- Main Javascript Files -->
        <script type="text/javascript" src="http://static.mansto.com/assets/js/initializer.js"></script>
    </body>
</html>
