/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-Jun-2021, 00:59:54
    Author     : edmilson.cassecasse
*/
$bg_dark_color: #343a40;
$bg_white_color: #e0f0f2;
$bg_light_gray: #f7f8f9;
$bg_modal_dark: #212d3d;
$txt_dark_green_color: #30454b;

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.footer-link {
    color: $bg_modal_dark;
    text-decoration: none;
    font-size: .95rem;
}

.footer-link:hover {
    color: #6c757d;
}

.bg-footer {
    background-color: transparent;
}
